body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 1em;
color:#444;
margin-top: 2px;
margin-bottom: 10px;
background-color: #FFFAF0;
}


@media only screen and (min-width: 1000px) and (max-width: 1200px) {
 p {
   font-size: 14px;
   color: #ccc;
 }

 div {
   width: 30%;
 }

}

@media only screen and (max-width: 450px) {
 p {
   font-size: 12px;
 }

}


/* media queries */
@media(max-width: 600px){
  p {
    padding-left: 20px;
    padding-right: 10px;
  }

  .chapter-head {
    font-size: 1.25em;
  }

.hed {
  font-size: 2em;
}

.hero-hed {
  font-size: 2em;
}

}


img {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
width:90%;
max-width: 600px;
margin: 0 auto;
border-bottom:50px;
padding-left: 20px;
padding-right: 20px;
}

.jumbotron {
width: 1600px;
color: #8B4513;
font-size: 2em;
font-weight: bold;
text-align: center;
font-style: helvetica;
padding-top: 10px;
padding-bottom: 25px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* name */
#name {
font-size: 3em;
color:#33485e;
text-transform: uppercase;
text-align:center;
border-bottom: 1px solid: #33485e;
width:60%;
min-width:300px;
margin: 10;
}

/* title */
#title {
text-transform: uppercase;
font-size: 1.5em;
font-weight: 600;
text-align: center;
margin-top: 20px;
margin: 0px;
color: #33485e;
}


.degrees{
  margin-top: 5px;
  margin: 0px;
}


.do {
margin-top: 5px;
margain: 0px;
}


.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}


.c1{
  display: inline-block;
  padding: 50px;
  margin: 200px;
  width: 70%;
  text-align: center;
  float: center;
  background-position: center;
  list-style-type: none;
}

.c2{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 120px 0;
  float: center;
  margin: 0px;
}

.c3{
  display: inline-block;
  float: center;
  width: 100%;
  text-align: center;
  padding: 120px 0;
  float: inherit;
}


